doctype html
html
  head
    style.
      .submitButton {
        padding-right: 5px;
      }
  body
    h1 Create Topic
    input(maxlength='255')#topic
    div
      button(disabled).submitButton submit
      a(href='/')
         button.cancelButton cancel
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script.
      var submitButton = document.getElementsByClassName("submitButton")[0];

      document.getElementById("topic").onkeyup = function() {
        console.log(submitButton.disabled);
        if(this.value.length === 0) {
          submitButton.disabled = true;
        } else {
          submitButton.disabled = false;
        }
      }

      submitButton.onclick = function() {
        $.ajax({
            url: '/addTopic',
            type: 'POST',
            data: JSON.stringify({"title": document.getElementById("topic").value}),
            contentType: "application/json",
            success: function(result) {
              if (!("error" in result)) {
                location.href = "/";
              }
            }
        });
      }
